.OrderPage {}

.restaurantName{
    width: 30%;
    display: flex;
    margin: auto;
    justify-content: space-between;
}

.links{
    width: 30%;
    display: flex;
    margin: auto;
    justify-content: space-between;
}