.DishTitle {
  text-align: center;
  padding-bottom: 5px;
}

.city {
  float: right;
}

.image {
  height: 100%;
  width: 100%;
}

.imageBox {
  display: inline-block;
  height: 90px;
  width: 90px;
}

.section {
  height: auto;
  width: 100%;
  display: block;
  padding-bottom: 10px;
}

.resname {
  text-align: center;
}
