.Restaurantprofile {
    text-align: center;
}

.Restaurantprofile button{
    display: block;
    margin: auto;
    font-size: 20px;
}

.spacing{
    height: 20px;
}

@media only screen and (max-width: 768px) {
    .Restaurantprofile button{
      height: 30px;
    }
  }