.AccountSignIn{}


.buttons button{
    display: block;
    border-radius: 5px;
    margin: auto;
    font-size: 25px;
}

.buttons h2{
    text-align: center;
}

.spacing{
    height: 20px;
}

#first{
    margin-top: 80px;
}

#second{
    margin-top: 50px;
}

#third{
    margin-top: 50px;
}

#fourth{
    margin-top: 50px;
}

@media only screen and (max-width: 768px) {
    .buttons button{
      font-size: 15px;
      height: 40px;
    }
  }