.Signin{
    width: 75%;
    margin: auto;
}

.Signin h2{
    text-align: center;
}
.Signin .input{
    display: flex;
    margin: auto;
    justify-content: space-between;
    width: 60%;
}
.Signin .input > input{
    padding: 10px;
    width: 60%;
    text-align: center;
}

.Signin form{
    margin-top: 200px;
    background-color: lightpink;
}

.Signin form > button{
    width: 20%;
    height: 40px;
    background-color: white;
}

.Signin button:hover{
    background-color: darkcyan;
    color: white;
}

.spacing{
    height: 20px;
}

@media only screen and (max-width: 768px) {
    .Signin .input{
        display: flex;
        flex-direction: column;
    }
    .Signin .input > *{
        margin: auto;
    }

    .Signin .input > input{
        padding: 10px;
        width: 70%;
        text-align: center;
    }
  }