*{
  margin: 0;
  padding: 0;
  border: 0;
  }

  .App{
    background-color: lightblue;
    height: 100vh;
  }

  .buttonWelcome{
    margin: auto;
    display: block;
    top: 20%;
    position: relative;
  }
  