*{
  margin: 0;
}

.homePage{
  width: 100%;
  height: 100vh;
  background-color: lightblue;
  align-items: center;
}

.welcomeHeader{
  display: flex;
  flex-direction: vertical;
  text-align: center
}

button{
  border: none;
  border-radius: 2px;
  background-color: blue;
}
button:hover{
  cursor:pointer;
  background-color: brown;
}