.image {
  height: 100%;
  width: 100%;
}

.imageBox {
  display: inline-block;
  height: 90px;
  width: 90px;
  vertical-align: top;
  text-align: left;
}

.word {
  padding-left: 10px;
  display: inline-block;
  height: auto;
}

.box {
  border: 2px #eee solid;
  margin: auto;
  width: auto;
  height: auto;
  padding: 15px;
  background-color: lightgrey;
}

.ingredients {
  word-wrap: break-word;
}

.button {
  height: auto;
  width: auto;
  border: 1px solid #eee;
  margin: 3px 0;
  float: right;
}
