.header{
    text-align: center;
    background-color: lightpink;
    width: 75%;
    margin: auto;
}
.logoaccount{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.logoaccount > button{
    border-radius: 5px;
}

.filters{
    width: 75%;
    display: flex;
    margin: auto;
    justify-content: space-between;
}

.filters > button{
    width: 15%;
}

.searchsearch form {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}

.spacing{
    height: 20px;
}

.header input{
    height: 50px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    text-align: center;
    width: 75%;
}

.header .searchsearch button{
    margin: 0;
    width: 20%;
}

.header .filters button{
    width: 20%;
}