.Resetpassword {
}

.Resetpassword form{
    color: white;
    width: 75%;
    margin: auto;
}

.Resetpassword h2{
    text-align: center;
}

.Resetpassword .input{
    display: flex;
    margin: auto;
    justify-content: space-between;
    width: 50%;
}

.Resetpassword .input input{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.Resetpassword button{
    background-color: white;
    width: 40%;
    height: 40px;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.Resetpassword button:hover{
    background-color: darkcyan;
    color: white;
}

.Resetpassword .input input{
    width: 50%;
    text-align: center;
}



.spacing{
    height: 20px;
}

@media only screen and (max-width: 768px) {
    .Resetpassword .input{
        display: flex;
        flex-direction: column;
    }
    .Resetpassword .input > *{
        margin: auto;
    }

    .Resetpassword .input input{
        width: 70%;
        height: 30px;
    }
  }