.Resetpassword {
}

.Resetpassword form{
    background-color: lightpink;
    width: 75%;
    margin: auto;
}

.Resetpassword .input{
    display: flex;
    margin: auto;
    justify-content: space-between;
    width: 50%;
}

.Resetpassword button{
    background-color: white;
}

.Resetpassword .input input{
    width: 50%;
    text-align: center;
}



.spacing{
    height: 20px;
}